@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <div class="dropdown ">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Dropdown button
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item " asp-area="" asp-controller="Home" asp-action="WashingThing">Washing Thing</a>
            <a class="dropdown-item" href="#">Eating</a>
            <a class="dropdown-item" href="#">Children</a>
        </div>
    </div>

</div>